.full-cart-wrapper {
  position: fixed;
  top: 20vh;
  left: 10vw;
  width: 80vw;
  z-index: 5;
  background: white;
  transition: transform 1s ease-in-out;
  border: black solid 2px;
  transform: translateX(-2000px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.full-cart-wrapper h3 {
  margin: 15px;
}

.item-list {
  padding: 10px;
  text-align: left;
}

.item-list span {
  margin: 7px;
}

.cart-summary {
  margin: 20px;
}

.cart-control {
  display: flex;
  justify-content: space-between;
}

.check-out-btn {
  cursor: pointer;
}

.close-cart-btn {
  cursor: pointer;
}

.remove-item-btn {
  cursor: pointer;
}

table th,
td {
  padding: 10px 15px;
}

.mobile-list {
  display: none;
}

.cart-summary * {
  margin: 15px;
}
@media screen and (max-width: 1380px) {
  .full-cart-wrapper {
    width: 98vw;
    left: 1vw;
  }
}

@media screen and (max-width: 1140px) {
  .item-list {
    display: none;
  }
  .mobile-list {
    display: flex;
    margin: 10px;
    flex-direction: column;
  }

  .mobile-list span {
    display: inline;
  }

  .each-item div {
    margin-bottom: 15px;
  }

  .each-item span {
    margin: 0 10px;
  }

  .cart-item-title * {
    margin: 0 5px;
  }

  .cart-item-title div {
    display: inline;
  }
}
